<!-- Show One Restaurant -->
<div class="restaurant-container">
<div class="card restaurant">
   <%= image_tag(@restaurant.image) %>
   <div class="avatar">
      Average Rating:
      <% if @reviews %>
          <% @reviews.each do |x| %>
          <% @avg += x.rating %>
          <% end %>
          <% if @reviews.length != 0 %>
          <% @avg = @avg/ @reviews.length %>
          <% end %>
      <% end %>

      <%=@avg %>/5
      <div>
      <% 5.times do |i| %>
      <% p @avg, i %>
          <%if (@avg > i) %>
          <span class="glyphicon glyphicon-star" style="color:yellow"></span>
          <% else %>
          <span class="glyphicon glyphicon-star"></span>
          <% end%>
        <% end %>
      </div>
   </div>

   <!-- Restaurant info here -->
   <div class="info">
      <div class="title">
         <%= @restaurant.name %>
      </div>
      <div class="address">
        <%= @restaurant.address1 %>
        <br />
        <%= @restaurant.address2 %>
        <br />
        <%= @restaurant.city+"," %> <%= @restaurant.state %>
        <br />
        <%= @restaurant.zipcode %>
        <br />
        <%= @restaurant.phone %>
      </div>


       <% if !user_signed_in? %>
       <%= link_to "Sign in to Review", new_user_session_path, class: "button" %>
       <% elsif current_user.try(:admin?) %>
       <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
       <% else user_signed_in? && !current_user.try(:admin?) %>
       <%= link_to "Write a Review", new_restaurant_review_path(@restaurant, @reviews) %>
       <%end%>

</div>
</div>

    <% if @reviews %>
      <div>
        <% @reviews.each do |x| %>

        <div class="review-bubble">
          <p>
            <!-- Trying to pull reviewer's name -->
            <%= x.user.first_name+" "+x.user.last_name %>
            says:
          </p>

          <p>
            <!-- Text comment -->
            <%= '"'+x.comment+'"' %>
          </p>

          <p>
            <!-- Star rating -->
            <%= x.rating %>/5
          </p>

        </div>

      </div>
    <% end %>
    <% end %>

</div>

<!-- restaurant container end -->
