<!-- Show One Restaurant -->
  <div id="container">
      <div class="restaurant-bubble">
        <p>
          <%= @restaurant.name %>
        </p>
        <div>
          <%= image_tag(@restaurant.image) %>
        </div>


        <p>
          <%= @restaurant.description %>
        </p>
        <p>
          <%= @restaurant.address1 %>
        </p>
        <p>
          <%= @restaurant.address2 %>
        </p>
        <p>
          <%= @restaurant.city %>
        </p>
      </div>

        <% if @reviews %>
          <div>
            <% @reviews.each do |x| %>

            <div class="review-bubble">
              <p>
                <!-- Trying to pull reviewer's name -->
                <%= x.user.first_name+" "+x.user.last_name %>
                says:
              </p>

              <p>
                <!-- Text comment -->
                <%= '"'+x.comment+'"' %>
              </p>

              <p>
                <!-- Star rating -->
                <%= x.rating %>/5
              </p>

            </div>

          </div>
        <% end %>
        <% end %>

        <!-- Admin edit rights here -->
        <div class="col-xs-12">
          <p>
            <%if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
            <%= link_to 'Back', restaurants_path %>
            <%end%>
          </p>
        </div>

      <!-- Write a Review -->
        <div class="col-xs-12">
          <%if user_signed_in? %>
          <%= link_to "Write a Review", new_restaurant_review_path(@restaurant, @reviews), class: "btn btn-large btn-realto header-cta" %>
          <%else%>
          <%= link_to "Sign in to Review", new_user_session_path, class: "btn btn-large btn-realto header-cta" %>
          <%end%>
        </div>
  </div>


<!-- restaurant container end -->
