<!-- Show One Restaurant -->
<p>
  <%= @restaurant.name %>
</p>

<p>
  <%= image_tag(@restaurant.image) %>
</p>

<p>
  <%= @restaurant.description %>
</p>

<p>
  <%= @restaurant.address1 %>
</p>

<p>
  <%= @restaurant.address2 %>
</p>

<p>
  <%= @restaurant.city %>
</p>

<%if !current_user.try(:admin?) %>
<%= link_to 'Back', restaurants_path %>
<%else%>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%end%>
<!-- .container -->
