<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="padding30">

          <h2 class="page-title">Rate this Restaurant</h2>
          <%= form_for [@restaurant, @review] do |f| %>
             <%= f.label :comment %>
             <%= f.text_area :comment, :maxlength => 160, :required => true %>
             <%= f.label :rating %>
             <%= f.number_field :rating, value: 1, min: 1, max: 5, :required => true %>/5
             <%= f.submit class: "btn span3 btn-realto-form btn-large"%>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
