<!-- begin header -->
<header>

  <div id="logo-container">
      <div class="container">
          <div class="row">
              <div class="col-xs-8">
                <span class="logo-text"><%= link_to "dpr", root_path %></span>
                  <span class="tag-line hidden-phone">Damn Power Reviews</span>
              </div>
                <div class="col-xs-4">
                   <ul class="inline pull-right">
                     <% if user_signed_in? %>
                     <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                     <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                     <% else %>
                     <li><%= link_to "Sign in", new_user_session_path %></li>
                     <li><%= link_to "Sign up", new_user_registration_path %></li>
                     <% end %>
                     <% if current_user.try(:admin?) %>
                     <li><%= link_to "Create Restaurant", new_restaurant_path %></li>
                     <% end %>
                   </ul>
                </div>
          </div>
          <div class="row">

          </div>
  </div>
  <!-- #logo-container -->
</header>
<!-- end header -->
