<!-- begin header -->
<header>

  <div id="logo-container">
      <div class="container">
          <div class="row">
              <div class="span8">
                <span class="logo-text"><%= link_to "foold", root_path %></span>
                  <span class="tag-line hidden-phone">Damn Power Reviews</span>
              </div>
              <div class="span4">
               <ul class="inline pull-right">
                 <% if user_signed_in? %>
                 <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                 <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                 <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              </ul>
              <% end %>
          </div>
      </div>
  </div>
  <!-- #logo-container -->
</header>
<!-- end header -->
